<% @rooms.each do |room| %>
	<div class="jumbotron shadow-sm rounded p-3 mt-4">
		<div class="row mb-2">
			<div class="col-md-6">
				<span>Created by @<%= room.host.username %></span>
			</div>
			<div class="col-md-6 m-auto">
				<span class="float-end"><%= time_ago_in_words(room.created_at) %> ago</span>
			</div>
		</div>
	  <h3 class="display-7"><%= link_to room.name, room %></h3>
	  <p class="lead"><%= room.description %></p>
	  <hr class="my-4">
	  <div class="row mb-2">
			<div class="col-md-6">
				<div class="my-2">
					<i class="fa-solid fa-user-group"></i><span class="mx-3"><%= room.users.uniq.count %> Joined</span>
				</div>
			</div>
			<div class="col-md-6 m-auto">
				<div class="bg-light px-3 py-1 float-end border rounded">
					<span><%= room.topic.name %></span>
				</div>
			</div>
		</div>
	  
	</div>
	
<% end %>
<div class="my-3">
	<%= will_paginate @rooms %>
</div>
