<h5>Browse topics</h5>

<% if Topic.any? %>

  <ul class="list-group">

    <li class="">
      <%= link_to 'All', root_path %>
      <span class=""><%= Topic.all.count %></span>
    </li>

    <% Topic.last(5).each do |topic| %>

      <li class="">
        <%= link_to topic.name, "#{root_path}?q=#{topic.name}" %>
        <span class=""><%= topic.rooms.all.count %></span>
      </li>

    <% end %>

    <li>
      <button style="padding:0;" type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#topicsModal">
        More
      </button>

      <div class="modal fade" id="topicsModal" tabindex="-1" role="dialog" aria-labelledby="topicsModalLabel" aria-hidden="true">
        
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="topicsModalLabel">Browse topics</h5>
          </div>
          <div class="modal-body">
            <%= form_with(url: search_topic_path, method: :get, class: "d-flex ms-auto") do |form| %>
              <%= form.text_field :query, class: "form-control", placeholder: "Search topics..." %>
            <% end %>

            <ul>
              <li>
                <%= link_to 'All', root_path %>
                <span class=""><%= Topic.all.count %></span>
              </li>
              <li>
                <%= link_to 'All', root_path %>
                <span class=""><%= Topic.all.count %></span>
              </li>

            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
      </div>
    </li>
  </ul>
<% else %>
  <p>No topic found</p>
<% end %>
