<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "StudyBuddy", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <%= render "rooms/search" %>

      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
            @<%= current_user.username %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary" %>
        <% else %>
            <%= button_to "Login", new_user_session_path, class: "btn btn-sm btn-outline-secondary" %>
        <% end %>
      </div>
      
    </div>
  </div>
</nav>